 body {
     background-color: aliceblue;
 }
 
 main {
     width: 50%;
     margin: auto;
     display: flex;
     align-items: top;
     padding-top: 40px;
     justify-content: center;
     height: 200vh;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 
 .box-1 {
     background-color: orangered;
     width: 250px;
     height: 310px;
     padding: 1rem;
     justify-content: flex-start;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 
 .box-1 h2 {
     margin-top: 4rem;
 }
 
 .box-1 button {
     margin-top: -9.2rem;
     border-radius: 20px;
     border: none;
     height: 30px;
     color: orangered;
     cursor: pointer;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 
 .box-1 p {
     font-size: 12px;
     padding-top: 1.8rem;
 }
 
 .box-2 {
     background-color: rgba(46, 163, 189, 0.479);
     width: 250px;
     height: 310px;
     padding: 1rem;
     justify-content: flex-start;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 
 .box-2 h2 {
     margin-top: 4rem;
 }
 
 .box-2 p {
     font-size: 12px;
     padding-top: 1.8rem;
 }
 
 .box-2 button {
     margin-top: 1.3rem;
     border-radius: 20px;
     border: none;
     height: 30px;
     color: rgba(46, 163, 189, 0.479);
     cursor: pointer;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 
 .box-3 {
     background-color: darkslategray;
     width: 250px;
     height: 310px;
     padding: 1rem;
     justify-content: flex-start;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 
 .box-3 h2 {
     margin-top: 4rem;
 }
 
 .box-3 button {
     margin-top: 2.2rem;
     border-radius: 20px;
     border: none;
     height: 30px;
     color: darkslategray;
     cursor: pointer;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }
 
 .box-3 p {
     font-size: 12px;
     padding-top: 1rem;
 }